@model Labb_1.Models.LeaveApplicationsViewModel

<div class="row">
    <div class="col-md-9">
        <h2>Select a Month</h2>
        <ul>
            @foreach (var month in Model.Months)
            {
                <li>
                    <a asp-action="LeaveApplicationsByMonth" asp-route-year="@month.Year" asp-route-month="@month.Month">@month.ToString("MMMM yyyy")</a>
                </li>
            }
        </ul>
    </div>
</div>
